## Itertools
    count
    cycle
    repeat
    zip_longest
    accumulate
    chain
    filterfalse
    compress
    dropwhile takewhile
    pairwise
    starmap
    product
    combinations

In [1]:
from itertools import count, cycle, repeat

### count

In [2]:
for i in count(10):
    print(i)
    if i >= 15:
        break

10
11
12
13
14
15

In [3]:
for i in count(10,2):
    print(i)
    if i >= 15 - 2:
        break

10
12
14

### cycle

In [4]:
sep = cycle([',','-','*'])
code = cycle(['NO1','NO2','NO3'])
functions = ['f1','f2','f3','f4','f5','f6','f7','f8','f9']

list(zip(functions,sep,code))

[('f1', ',', 'NO1'),
 ('f2', '-', 'NO2'),
 ('f3', '*', 'NO3'),
 ('f4', ',', 'NO1'),
 ('f5', '-', 'NO2'),
 ('f6', '*', 'NO3'),
 ('f7', ',', 'NO1'),
 ('f8', '-', 'NO2'),
 ('f9', '*', 'NO3')]

### repeat

In [5]:
for i in repeat(5,10):
    print(i)

5
5
5
5
5
5
5
5
5
5

### zip_longest

In [6]:
from itertools import zip_longest

In [7]:
num = range(10)
ch = 'python'

list(zip_longest(num, ch))

[(0, 'p'),
 (1, 'y'),
 (2, 't'),
 (3, 'h'),
 (4, 'o'),
 (5, 'n'),
 (6, None),
 (7, None),
 (8, None),
 (9, None)]

### accumulate

In [8]:
from itertools import accumulate

In [9]:
num = range(1,8)

In [10]:
list(accumulate(num))

[1, 3, 6, 10, 15, 21, 28]

In [11]:
list(accumulate(num, initial=10))

[10, 11, 13, 16, 20, 25, 31, 38]

In [12]:
def prod(x, y):
    return x*y

list(accumulate(num, prod))

# factorial

[1, 2, 6, 24, 120, 720, 5040]

### chain

In [13]:
from itertools import chain

In [14]:
a = [5,6,8,9,1,4]
b = [7,8,9,7]

In [15]:
for i in chain(a,b):
    print(i)

5
6
8
9
1
4
7
8
9
7

In [16]:
for i in chain(repeat(10,3), repeat(20,2)):
    print(i)

10
10
10
20
20

In [17]:
ls = [
    [1,2,3],[4,5,6],[7,8,9]
]

list(chain(ls[0],ls[1]))

[1, 2, 3, 4, 5, 6]

In [18]:
list(chain(*ls))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
list(chain(*ls[1:]))

[4, 5, 6, 7, 8, 9]

In [20]:
list(chain(*ls[1:-1]))

[4, 5, 6]

### filterfalse

In [21]:
ls = [4,5,1,2,6,9,8,7,5,4,2,1,3,6,4,0]

list(filter(lambda x: x>4, ls))

[5, 6, 9, 8, 7, 5, 6]

In [22]:
list(filter(lambda x: not x>4, ls))

[4, 1, 2, 4, 2, 1, 3, 4, 0]

In [23]:
from itertools import filterfalse

In [42]:
list(filterfalse(lambda x: x>4, ls))

[4, 1, 2, 4, 2, 1, 3, 4, 0]

### compress

In [57]:
a = [5,4,6,4,2,1,3,4]
f = [1,0,0,1,1,0,1,0]

In [58]:
from itertools import compress

list(compress(a, f))

[5, 4, 2, 3]

In [59]:
from random import randint

In [60]:
f = [randint(0,1) for _ in range(len(a))]
f

[0, 1, 0, 0, 0, 0, 1, 1]

In [61]:
list(compress(a, f))

[4, 3, 4]

### dropwhile  takewhile

In [62]:
from itertools import dropwhile, takewhile

In [63]:
a

[5, 4, 6, 4, 2, 1, 3, 4]

In [64]:
list(dropwhile(lambda x: x<6, a))

[6, 4, 2, 1, 3, 4]

In [65]:
list(takewhile(lambda x: x<6, a))

[5, 4]

### pairwise

In [66]:
a

[5, 4, 6, 4, 2, 1, 3, 4]

In [67]:
from more_itertools import pairwise

In [70]:
list(pairwise(a))

[(5, 4), (4, 6), (6, 4), (4, 2), (2, 1), (1, 3), (3, 4)]

In [69]:
for i,j in pairwise(a):
    print((j-i) / i)

-0.2
0.5
-0.3333333333333333
-0.5
-0.5
2.0
0.3333333333333333

In [71]:
list(pairwise(pairwise(a)))

[((5, 4), (4, 6)),
 ((4, 6), (6, 4)),
 ((6, 4), (4, 2)),
 ((4, 2), (2, 1)),
 ((2, 1), (1, 3)),
 ((1, 3), (3, 4))]

In [72]:
list(zip(a,a[1:],a[2:]))

[(5, 4, 6), (4, 6, 4), (6, 4, 2), (4, 2, 1), (2, 1, 3), (1, 3, 4)]

In [74]:
list(zip(a,a[1:],a[2:],a[3:]))
# used for time series

[(5, 4, 6, 4), (4, 6, 4, 2), (6, 4, 2, 1), (4, 2, 1, 3), (2, 1, 3, 4)]

### starmap

In [78]:
num = [(5,4),(6,4),(2,8),(9,4),(6,3),(7,5)]
num

[(5, 4), (6, 4), (2, 8), (9, 4), (6, 3), (7, 5)]

In [79]:
[pow(x,y) for x,y in num]

[625, 1296, 256, 6561, 216, 16807]

In [80]:
[pow(p[0],p[1]) for p in num]

[625, 1296, 256, 6561, 216, 16807]

In [81]:
[pow(*p) for p in num]

[625, 1296, 256, 6561, 216, 16807]

### product

In [82]:
from itertools import starmap

In [84]:
list(starmap(pow, num))

[625, 1296, 256, 6561, 216, 16807]

In [85]:
from itertools import product

In [91]:
a1 = [1,2,3]
a2 = [8,9]

In [94]:
list(product(a1,a2))

[(1, 8), (1, 9), (2, 8), (2, 9), (3, 8), (3, 9)]

In [100]:
list(product(a1,repeat=3))

[(1, 1, 1),
 (1, 1, 2),
 (1, 1, 3),
 (1, 2, 1),
 (1, 2, 2),
 (1, 2, 3),
 (1, 3, 1),
 (1, 3, 2),
 (1, 3, 3),
 (2, 1, 1),
 (2, 1, 2),
 (2, 1, 3),
 (2, 2, 1),
 (2, 2, 2),
 (2, 2, 3),
 (2, 3, 1),
 (2, 3, 2),
 (2, 3, 3),
 (3, 1, 1),
 (3, 1, 2),
 (3, 1, 3),
 (3, 2, 1),
 (3, 2, 2),
 (3, 2, 3),
 (3, 3, 1),
 (3, 3, 2),
 (3, 3, 3)]

### combinations

In [98]:
from itertools import permutations

In [99]:
list(permutations(a1))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [101]:
list(permutations(a1,2))

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [102]:
from itertools import combinations

In [105]:
list(combinations(a1,1))

[(1,), (2,), (3,)]

In [106]:
list(combinations(a1,2))

[(1, 2), (1, 3), (2, 3)]

In [107]:
list(combinations(a1,3))

[(1, 2, 3)]

In [110]:
from itertools import combinations_with_replacement as cwr

In [111]:
list(cwr(a1,3))

[(1, 1, 1),
 (1, 1, 2),
 (1, 1, 3),
 (1, 2, 2),
 (1, 2, 3),
 (1, 3, 3),
 (2, 2, 2),
 (2, 2, 3),
 (2, 3, 3),
 (3, 3, 3)]